[user]
	signingkey = BBF9BFA2C2FE80F9
	name = Lex Nastin
	email = lexnastin@gmail.com
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[alias]
	rebase-onto = "!f() { git rebase --onto main $(git merge-base \"$1\" \"$2\") \"$1\"; }; f"
[init]
	defaultBranch = main
